<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button >
                    abrir
                </button>
                <div id="Leftmenu">
                    <div><i class="bi bi-pie-chart-fill"></i></div>
                    <div>Market</div>

                    <div><i class="bi bi-graph-up-arrow"></i></div>
                    <div>Pools</div>

                    <div><i class="bi bi-send-fill"></i></div>
                    <div>Transfer</div>

                   
                    <div class=""><i class="bi bi-speedometer"></i></div>
                    <div class="menuDesp ">Portafolio
                        <p>Overview</p>
                        <p>Wallet</p>
                        <p>Position</p>
                    </div>
                    
                    <div><i class="bi bi-journal-text"></i></div>
                    <div>History</div>
                    
                    
                    <div><i class="bi bi-person-plus-fill"></i></div>
                    <div>Invite Friends</div>

                    <div><i class="bi bi-gear-wide-connected"></i></div>
                    <div>setting</div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApplication3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
