
@{
    ViewData["Title"] = "User";
}

<h1>User</h1>

<div>
    <div>
        <input id="Name" type="text" placeholder="Nombre competo" />
    </div>

    <div>
        <input id="Career" type="text" placeholder="Carrera" />

    </div>

    <div> 
        <input id="Age" type="number" placeholder="edad" />

    </div>

    <button id="BtnSend" class="btn btn-primary ">Send</button>
</div>

<script src="~/js/User/sendUser.js"> </script>