html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#Leftmenu {
    position: absolute;
    top: 52px;
    height: calc(100vh - 50px);
    width: 225px;
    left: -1px;
    background-color: #131217;
    border: 1px solid;
    z-index: 999;
    color: #fff;
    display: grid;
    grid-template-columns: 20% 1fr;
    font-weight: bold;
    padding-left
}

.menuPle{
    width: 70px !important;
}

.menuDesp {
    overflow: hidden;
    height: 25px;
    transition: all .5s ease;
}

    .menuDesp p {
        margin-left: 15px;
        margin-top: 5px !important;
        border-bottom: 1px solid #5c5c5c;
        border-left: 1px solid #5c5c5c;
        padding-left: 5px;
    }

.menuDespOpen {
    height: 120px !important;
}

.m55{
    margin-top: -55px;
}

.label {
    height: 20px;
    margin: -40px 0;
}